<div>
    <h2 id="page-heading">
        <span jhiTranslate="onTientLeBonBoutApp.mediaDynamique.home.title">Media Dynamiques</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-media-dynamique" [routerLink]="['/media-dynamique/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="onTientLeBonBoutApp.mediaDynamique.home.createLabel">
            Create new Media Dynamique
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mediaDynamiques?.length === 0">
        <span jhiTranslate="onTientLeBonBoutApp.mediaDynamique.home.notFound">No mediaDynamiques found</span>
    </div>
    <div class="table-responsive" *ngIf="mediaDynamiques?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="onTientLeBonBoutApp.mediaDynamique.dureeSeconde">Duree Seconde</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mediaDynamique of mediaDynamiques ;trackBy: trackId">
                <td><a [routerLink]="['/media-dynamique', mediaDynamique.id, 'view' ]">{{mediaDynamique.id}}</a></td>
                <td>{{mediaDynamique.dureeSeconde}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/media-dynamique', mediaDynamique.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/media-dynamique', mediaDynamique.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'media-dynamique', { outlets: { popup: mediaDynamique.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
