<div>
    <h2 id="page-heading">
        <span jhiTranslate="onTientLeBonBoutApp.questionnaire.home.title">Questionnaires</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-questionnaire" [routerLink]="['/questionnaire/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="onTientLeBonBoutApp.questionnaire.home.createLabel">
            Create new Questionnaire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="questionnaires?.length === 0">
        <span jhiTranslate="onTientLeBonBoutApp.questionnaire.home.notFound">No questionnaires found</span>
    </div>
    <div class="table-responsive" *ngIf="questionnaires?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="onTientLeBonBoutApp.questionnaire.users">Users</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let questionnaire of questionnaires ;trackBy: trackId">
                <td><a [routerLink]="['/questionnaire', questionnaire.id, 'view' ]">{{questionnaire.id}}</a></td>
                <td>
                    <span *ngFor="let users of questionnaire.users; let last = last">
                            {{users.login}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/questionnaire', questionnaire.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *ngIf="isClient" type="submit"
                                [routerLink]="['/questionnaire', questionnaire.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon *ngIf="isClient" [icon]="'pencil-alt'"></fa-icon>
                            <span *ngIf="isClient" class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *ngIf="isClient" type="submit"
                                [routerLink]="['/', 'questionnaire', { outlets: { popup: questionnaire.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon *ngIf="isClient" [icon]="'times'"></fa-icon>
                            <span *ngIf="isClient" class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
