<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questionnaire">
            <h2><span jhiTranslate="onTientLeBonBoutApp.questionnaire.detail.title">Questionnaire</span> {{questionnaire.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <dt><span jhiTranslate="onTientLeBonBoutApp.questionnaire.questions">Questions</span></dt>
                <dd>
                     <div *ngFor="let item of questionnaire.questions">
                        <a [routerLink]="['/question', item?.intitule, 'view']">{{item?.intitule}}</a>
                        <!-- <div *ngIf="item.media.type=='Image'"> -->
                        <div *ngIf="item.media">
                        <div [ngSwitch]="item.media.type">
                        <img *ngSwitchCase="'Image'" src="{{item.media?.adresse}}">
                        <iframe *ngSwitchCase="'Video'" [src]="item.media?.adresse | safe"> Browser not supported </iframe>
                        <!-- <video *ngSwitchCase="'Video'"><source [src] = "item.media?.adresse"/></video> -->
                        <p>"{{item.media?.adresse}}" & "https://www.youtube.com/embed/u3ktrBos7DI"</p>
                        <audio *ngSwitchCase="'Musique'" [src]="item.media?.adresse | safe" controls>audio non supporté</audio>
                        </div>
                        </div>
                        	<div *ngFor="let i of item.reponses">
                        		<input type="checkbox" id={{i.id}} name={{i.id}} value={{i?.valide}}
									ngModel>
									<label for="reponse $i">{{i?.intitule}}</label> 
                        	</div>
                    </div>
                </dd>
                <button class="btn btn-primary" type="submit">Enregistrer</button>
                </form>
                <div>
            <span class="alert alert-success">Score : {{point}}</span>
            </div>
            </dl>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/questionnaire', questionnaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>

        </div>
    </div>
</div>