<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questionnaire">
            <h2><span jhiTranslate="onTientLeBonBoutApp.questionnaire.detail.title">Questionnaire</span> {{questionnaire.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="onTientLeBonBoutApp.questionnaire.questions">Questions</span></dt>
                <dd>
                     <div *ngFor="let item of questionnaire.questions">
                        <a [routerLink]="['/question', item?.intitule, 'view']">{{item?.intitule}}</a>
                        <div>
                        <img src={{item.media?.adresse}}>
                        </div>
                        	<div *ngFor="let i of item.reponses">
                        		<input type="checkbox" id="reponse" name="reponses">{{i?.intitule}}
                        		<input type="hidden" type="checkbox" id="reponse" name="reponses">{{i?.valide}}
                        	</div>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/questionnaire', questionnaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
            <button type="button"
                    [routerLink]="['/questionnaire', questionnaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Submit</span>
            </button>
        </div>
    </div>
</div>